<!doctype html>
<html>
    <head>
        <title>File Explorer</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
            rel="stylesheet"
        />
        link
    </head>
    <body>
        <div id="container">
            <header id="header">
                <a href="/">Home</a>
            </header>
            {% block content %}{% endblock %}
        </div>
        <script src="/static/script.js"></script>
    </body>
</html>